@font-face {
  font-family: 'fontello';
  src: url('../fonts/fontello.eot?19257086');
  src: url('../fonts/fontello.eot?19257086#iefix') format('embedded-opentype'),
       url('../fonts/fontello.woff?19257086') format('woff'),
       url('../fonts/fontello.ttf?19257086') format('truetype'),
       url('../fonts/fontello.svg?19257086#fontello') format('svg');
  font-weight: normal;
  font-style: normal;
}

 [class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "fontello";
  font-style: normal;
  font-weight: normal;
  speak: none;

  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  text-align: center;

  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
}

.icon-heart:before { content: '\35'; } /* '5' */
.icon-doc-new:before { content: '\27'; } /* ''' */
.icon-ok:before { content: '\21'; } /* '!' */
.icon-cancel:before { content: '\22'; } /* '&quot;' */
.icon-plus:before { content: '\23'; } /* '#' */
.icon-info:before { content: '\24'; } /* '$' */
.icon-link:before { content: '\34'; } /* '4' */
.icon-tag:before { content: '\25'; } /* '%' */
.icon-tags:before { content: '\26'; } /* '&amp;' */
.icon-pencil:before { content: '\28'; } /* '(' */
.icon-attention-alt:before { content: '\29'; } /* ')' */
.icon-trash:before { content: '\33'; } /* '3' */
.icon-star:before { content: '\36'; } /* '6' */
.icon-menu:before { content: '\38'; } /* '8' */
.icon-basket:before { content: '\2b'; } /* '+' */
.icon-calendar-empty:before { content: '\2c'; } /* ',' */
.icon-left-dir:before { content: '\2d'; } /* '-' */
.icon-right-dir:before { content: '\2e'; } /* '.' */
.icon-angle-left:before { content: '\2f'; } /* '/' */
.icon-angle-right:before { content: '\30'; } /* '0' */
.icon-down-big:before { content: '\37'; } /* '7' */
.icon-asterisk:before { content: '\31'; } /* '1' */
.icon-food:before { content: '\32'; } /* '2' */
.icon-doc-text:before { content: '\2a'; } /* '*' */
