.input_group {
	margin-bottom: 0.5em;

	label, > span {
		display: block;
		margin-bottom: 0.3em;
	}

	&.required label:after {
		content: ' *';
		vertical-align: top;
	}

	&.with_suggestions {
		position: relative;
	}

	&.tag_group {
		> span {
			padding-bottom: 0.3em;
			border-bottom: 1px solid $border_gray;
		}
	}

	input, select, textarea {
		box-sizing: border-box;
		width: 100%;
	}

	.suggestion_list {
		position: absolute;
		display: none;
		top: 100%;
		left: 0;
		background-color: #fff;
		border: 1px solid darken($border_gray, 10%);
		border-bottom-color: darken($border_gray, 15%);
		box-shadow: -1px 2px 5px rgba(black, .2);
		padding: 0;
		margin: 0;

	}

	.suggestion_item {
		list-style: none outside none;
		padding: 0.2em 0.5em;
		white-space: nowrap;
		cursor: pointer;

		&:hover {
			color: $text_dark;
			background-color: $bg_gray;
		}
	}
}

.form_footer {
	text-align: right;
	padding: 1.5em 0;
	clear: both;
}

input[type="text"],
input[type="date"],
textarea {
	background-color: #fff;
	border: 1px solid darken($border_gray, 10%);
	border-bottom-color: darken($border_gray, 15%);
	box-shadow: -1px 2px 3px rgba(black, .05) inset;
	padding: 0.2em 0.5em;

	&:focus {
		outline: 1px solid $blue;
	}
}

.tag_list {
	padding: 0;
	margin: 0;
	position: relative;
	max-height: 6.5em;
	overflow: auto;
	@include clearfix;

	li {
		list-style: none outside none;
		display: block;
		float: left;
		width: columns(4);
		margin-left: gutter();
		margin-bottom: 0.3em;

		&:nth-child(3n+1) {
			margin-left: 0;
		}
	}

	input {
		width: auto;
		margin-right: 0.3em;
	}

	label {
		display: inline;
	}
}
