.button {
	display: inline-block;
	position: relative;
	padding: 0.3em 0.5em 0.35em;
	background-color: #bababa;
	color: white;
	text-align: center;
	text-decoration: none;
	border-radius: 2px;
	border: 1px solid rgba(black, .15);
	box-shadow: 0 1px 3px rgba(black, 0.2);

	&:before {
		content: ' ';
		display: block;
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		@include radial-gradient(ellipse at 50% 0, rgba(white, 0.15) 0%, rgba(white, 0) 100%);
		background-color: transparent;
	}

	&:after {
		content: ' ';
		display: block;
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		border-top: 1px solid rgba(white, .17);
		border-radius: 1px;
	}

	&:hover:after {
		background-color: rgba(white, .1);
	}

	&[disabled] {
		opacity: 0.5;
	}

	&.confirm {
		background-color: $green;
		&.dimmed {
			background-color: lighten($green, 50%);
			color: $green;
		}
	}

	&.cancel {
		background-color: $red;
		&.dimmed {
			background-color: lighten($red, 50%);
			color: $red;
		}
	}

	&.action {
		background-color: $blue;
		&.dimmed {
			background-color: lighten($blue, 50%);
			color: $blue;
		}
	}
}
