#latest_dishes {
	width: space(1, 8);
	float: right;

	li { 
		list-style: none inside none;

		border-bottom: 1px solid $border_gray;
	
		h4 { 
			margin: 3px 0;
		}

		time { 
			//float: right;
			font-size: 0.75em;
		}

		p {
			font-style: italic;
			margin: 2px 0;
		}
	}

}