#sidebar {
	width: space(1, 5);
	float: right;
	height: 100%;
	overflow: auto;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	background-color: rgba(black, .01);

	h3 {
		font-size: em(18);
		text-transform: capitalize;
		font-weight: normal;
		padding: 1em em(10, 18) 0.625em;
		border-bottom: 1px solid $border_gray;
		line-height: 1;
		position: relative;
		margin: 0.6em 0 0.625em;
	}

	ul {
		padding: 0;
		margin: 0;
	}

	li {
		list-style: none inside none;
		display: block;
		padding: 0 0.625em;
	}

	h4 {
		margin: 0;
	}

	time {
		font-size: 0.75em;
		display: block;
		margin-bottom: 0.2em;
	}

	p {
		font-style: italic;
		margin: 0 0 0.5em;
	}
}

@media (min-width: 75em) {
	#sidebar {
		width: space(1, 8);
	}
}
