.tab_container {
	height: 100%;
	overflow: auto;
	box-sizing: border-box;
	padding-top: 3.6875em;
	position: relative;
}

.fullsize_page {
	.tab_container_header,
	.tab_container_body {
		padding-left: 2em;
		padding-right: 2em;
	}

	.tab_content {
		padding-left: 0;
		padding-right: 0;
	}
}

.tab_container_header {
	font-size: 1.125em;
	padding: 1.6em 0.625em 0.625em;
	line-height: 1;
	border-bottom: 1px solid $border_gray;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;

	h1 {
		margin: 0;
		font-size: 1em;
		display: inline-block;
	}
}

.tab_navigation {
	display: inline-block;
	position: relative;

	&.disabled:after {
		content: ' ';
		display: block;
		position: absolute;
		top: -1px;
		right: -1px;
		bottom: -1px;
		left: -1px;
	}

}

.tab_list {
	display: inline-block;
	font-size: 0.88em;
	margin: 0 0 0 2em;
	padding: 0;

	.tab {
		display: inline-block;
		margin-right: 1em;

		&.active {
			color: $green;
		}
	}

	a {
		text-decoration: none;
		color: inherit;
	}
}

ol.tab_list {
	.tab {
		opacity: 0.5;

		&.active {
			opacity: 1;
		}
	}

	.active ~ .tab {
		opacity: 1;
	}
}

.tab_content {
	display: none;
	padding: 0 0.625em 0.625em;
	max-width: 60em;
	@include clearfix;

	&.active {
		display: block;
	}

	&.full_width {
		max-width: none;
	}

	.content_part {
		display: none;

		&.active_part {
			display: block;
		}
	}

	.active_part ~ .no_part_chosen {
		display: none;
	}
}

.tab_container_footer {
	margin: 4em 0.625em 0.625em;
	padding: 0.625em 0;
	text-align: right;
	border-top: 1px dotted $border_gray;

	.inner {
		max-width: 60em;
	}

	.button {
		margin-left: 0.5em;
	}
}
