.tabbed_container {
	height: 100%;
	overflow: auto;
	box-sizing: border-box;
	padding-top: 3.6875em;
	position: relative;
}

.tabbed_container_header {
	font-size: 1.125em;
	padding: 1.6em 0.625em 0.625em;
	line-height: 1;
	border-bottom: 1px solid $border_gray;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;

	h1 {
		margin: 0;
		font-size: 1em;
		display: inline-block;
	}
}

.tab_container {
	display: inline-block;
	font-size: 0.88em;
	margin-left: 2em;
	
	ol, ul {
		margin: 0;
		padding: 0;
	}

	li {
		display: inline-block; 
		margin-right: 1em;
	}

	a {
		text-decoration: none;

	}
}

.tab_content {
	display: none;
	padding: 0 0.625em 0.625em;

	&.active {
		display: block;
	}
	
	.content_part {
		display: none;

		&.active_part {
			display: block;
		}
	}

	.active_part ~ .no_part_chosen {
		display: none;
	}


}