#week_calendar {
	float: left;
	width: columns(4,5);
	height: 100%;
	position: relative;
	box-shadow: 0 0 50px rgba(black, .05);

	> ul {
		margin: 0;
		padding-left: 0;
		height: 100%;
		overflow: auto;
	}

	li {
		list-style: none inside none;
	}
}

.week_calendar_item {
	text-align: center;
	overflow: auto;
	position: relative;

	&.current {
		background: white;

		h3 {
			color: $text_dark;
			font-weight: bold;

			&:before {
				content: ' ';
				display: block;
				position: absolute;
				bottom: -1px;
				left: 0;
				right: 0;
				height: 3px;
				background-color: $green;
			}
		}
	}

	h3, .meal_shopping_list {
		text-align: left;
	}

	h3 {
		font-size: 1.125em;
		text-transform: capitalize;
		font-weight: normal;
		padding: 1em 0.625em 0.625em;
		border-bottom: 1px solid $border_gray;
		line-height: 1;
		position: relative;
		margin-top: 0.6em;
	}

	.date {
		font-weight: normal;
		font-size: 0.667em;
	}

	.meal {
		display: block;
		text-transform: capitalize;
		position: relative;
		padding-bottom: 1.2em;
		overflow: hidden;

		&:after {
			content: ' ';
			display: block;
			position: absolute;
			bottom: 0;
			left: -40%;
			right: -40%;
			height: 1em;
			@include radial-gradient(ellipse at 50% 0%, rgba(black, 0.05) 0%, rgba(black, 0.0) 50%);
			background-color: transparent;
		}
	}

	h4 {
		color: $text_dark;
		font-size: 1.375em;
		margin-top: 0;
	}

	.dish_tags {
		font-size: em(12, 16);
	}
}

.meal_list {
	padding: 0 0.625em;
	margin: 2em 0;

	ul {
		padding-left: 0;
	}

	.add_meal_item {
		color: $text_dark;

		&:last-child {
			.no_meals_indicator {
				display: block;
			}
		}
	}

	.no_meals_indicator {
		display: none;
	}

	.icon-food {
		font-size: 3.5em;
		color: darken($bg_gray, 10%);
		text-shadow: 0 -1px 0 rgba(black, .2), 0 -2px 0 rgba(black, .05), 0 1px 0 rgba(white, .8), 0 2px 0 rgba(white, .2);
	}
}

.meal_item {
	& ~ .meal_item {
		margin-top: 4em;
	}

	&.preview {
		border: 1px dashed $border_gray;
		box-shadow: -1px 2px 5px rgba(black, .1);
		padding-top: 0.4em;
		min-height: 13em;
	}
}

.meal_shopping_list {
	position: relative;
	padding-top: 2em;
	margin-top: 2em;
	cursor: pointer;

	&:before {
		display: block;
		position: absolute;
		top: 0;
		left: 50%;
		margin-left: -1em;
		text-align: center;
		width: 2em;
		font-size: 1.8em;
		color: darken($bg_gray, 10%);
		text-shadow: 0 -1px 0 rgba(black, .2),
			0 -2px 0 rgba(black, .05),
			0 1px 0 rgba(white, .8),
			0 2px 0 rgba(white, .2);
	}

	&.expanded {
		&:before {
			@include transform(rotate(-23deg));
		}

		li {
			display: block;
		}
	}

	li {
		cursor: default;
		display: none;
		padding: 0.2em 0.5em;
		list-style-type: none;

		&:nth-child(2n) {
			background: rgba(white, .6);
		}

		&::before {
			content: '-';
			margin-right: 0.3em;
		}
	}
}

.current {
	.meal_shopping_list {
		li:nth-child(2n) {
			background: rgba(black, 0.03);
		}
	}
}

@media (min-width: 75em) {
	#week_calendar {
		width: columns(7, 8);
	}

	.week_calendar_item {
		float: left;
		width: (100% / 7);
		height: 100%;
		box-sizing: border-box;

		& ~ .week_calendar_item {
			border-left: 1px solid $border_gray;
		}

		.date {
			float: right;
			margin-top: 0.3em;
		}
	}

	.meal_list {
		.add_meal_item {
			position: absolute;
			width: 100%;
			left: 0;
			bottom: 0;

			&:last-child {
				bottom: auto;
				top: 50%;
				margin-top: -5.125em;
			}
		}
	}
}
