#add_meal_day_overview {
	background-color: #fff;
	border-right: 1px solid $border_gray;
	width: (100% / 8);

	.button {
		display: none;
	}
}

#add_meal_input {
	float: left;
	width: ((100% / 8) * 7);
}

#add_meal_step_1 {
	input {
		display: none;
	}
}

#add_meal_step_2 {
	tbody tr {
		cursor: pointer;
	}
}

.quick_options {
	@include clearfix;

	.option {
		float: left;
		width: columns(4, 12);
		margin-left: gutter(12);

		&:first-child {
			margin-left: 0;
		}
	}

	.list_option {
		h3 {
			margin-bottom: 0;
		}

		& > ul {
			padding: 0;
			margin: 0;

			& > li {
				list-style: none outside none;
				padding: 0.625em;


			}
		}

		h4 {
			font-size: 1em;
			margin: 0;
		}

		.inline_list {
			font-size: 0.75em;
			margin: 0 0 0.2em;
		}

		p {
			margin: 0;
		}
	}

	h3 {
		padding-bottom: em(11, (1.17 * 16));
		border-bottom: 1px solid $border_gray;
		margin-top: 1.5em;
	}
}
