#add_meal_day_overview {
	background-color: #fff;
	border-right: 1px solid $border_gray;
	width: (100% / 8);

	.button {
		display: none;
	}
}

#add_meal_input {
	float: left;
	width: ((100% / 8) * 7);
}

#add_meal_step_1 {
	.tab_nav_link {
		margin-right: 1em;
	}
}
