#add_meal_day_overview {
	background-color: #fff;
	border-right: 1px solid $border_gray;
	width: (100% / 8);

	.button {
		display: none;
	}
}

#add_meal_input_header {
	font-size: 1.125em;
	padding: 1.6em 0.625em 0.625em;
	line-height: 1;
	border-bottom: 1px solid $border_gray;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;

	h1 {
		margin: 0;
		font-size: 1em;
		display: inline-block;
	}
}

#add_meal_input_navigation {
	display: inline-block;
	font-size: 0.88em;
	margin-left: 2em;
	
	ol {
		margin: 0;
		padding: 0;
	}

	li {
		display: inline-block; 
		margin-right: 1em;
	}

	a {
		text-decoration: none;

	}
}

#add_meal_input {
	float: left;
	width: ((100% / 8) * 7);
	height: 100%;
	overflow: auto;
	box-sizing: border-box;
	padding-top: 3.6875em;
	position: relative;

	.add_meal_step {
		display: none;
		padding: 0 0.625em 0.625em;

		&:target {
			display: block;
		}
	}
}